@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	--watching-color: #52b628;
	--watching-shadow-color: #58d0257e;
	--plan-color: #9314dc;
	--plan-shadow-color: #9314dc7e;
	--completed-color: #4577b7;
	--completed-shadow-color: #4577b77e;
	--hold-on-color: #df960e;
	--hold-on-shadow-color: #FFA5007e;
	--dropped-color: #be1414;
	--dropped-shadow-color: #FF00007e;
	--good-reputation-color: #4AA424;
	--bad-reputation-color: #bb0b0b;
	--ban-color: #A12B2B;
	--rate-back-color: rgb(70, 68, 65);
	--player-timeline-progress-color: #FF0000;
	--player-timeline-loaded-color: #5A5A5A;
	--slider-button-inactive-color: #3b3b3b;
	--slider-button-active-color: #cc2e56;
	--slider-button-dot-color: #ffffff;
	--warning-color: #ddca1b;
	--info-color: #1b8fdd;
	--danger-color: #dd1b1b;
}

.dark-theme {
	--background-color: #121212;
	--alt-background-color: #1a1919;
	--skeleton-background-color: #1c1b1b;
	--skeleton-animation-color: #2f2c2c;
	--select-button-left-color: #111111;
	--select-button-color: #202020;
	--alt-gray-background-color: #2C2828;
	--text-color: rgb(216 213 208);
	--main-text-color: rgb(216 213 208);
	--secondary-text-color: rgb(175 168 158);
	--third-text-color: rgb(161, 155, 146);
	--gray-btn: #6A6A6A;
	--primary-color: #cc2e56;
	--scroll-bar-handle-bg-color: rgba(130, 130, 130, 0.3);
	--scroll-bar-track-bg-color: rgba(130, 130, 130, 0.1);
	color: var(--main-text-color);
}

.light-theme {
	--background-color: #ffffff;
	--alt-background-color: #f9f9f9;
	--skeleton-background-color: #f0f0f0;
	--skeleton-animation-color: #e0e0e0;
	--select-button-left-color: rgba(0, 0, 0, 0.05);
	--select-button-color: #33333380;
	--text-color: #1f1f1f;
	--main-text-color: #1f1f1f;
	--secondary-text-color: #4d4d4d;
	--third-text-color: #7a7a7a;
	--gray-btn: #c0c0c0;
	--primary-color: #cc2e56;
	--scroll-bar-handle-bg-color: rgba(130, 130, 130, 0.3);
	--scroll-bar-track-bg-color: rgba(130, 130, 130, 0.1);
	color: var(--main-text-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--alt-background-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #828282;
	border-radius: 10px;
	box-shadow: inset 0 0 6px var(--scroll-bar-handle-bg-color);
}

::-webkit-scrollbar-thumb:hover {
	background: #999;
}

@media (max-width: 768px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}
